<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<hr>

<p>
  <strong>出身地:</strong>
  <% if @prefectures.present? %>
    <% @prefectures.each do |prefectures| %>
        <%= prefectures.prefecture.name %>
    <% end %>
  <% else %>
    <td>未登録</td>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
